
body {
    background-color: beige;
    font-family: "Microsoft Yahei", sans-serif;

    font-weight: lighter;
    text-align: center

}

ul li{
    list-style: none;
    }

header {

    background-image: url(../images/review-3.jpg);

    color:white;

    
    text-align: center;

    margin: 0 auto;

}



#title {

    display: inline-block;

    font-size: 64px;

    padding-top: 200px;

    width: 960px;

}

 

#titlebottom {

    display: inline-block;

    box-sizing: border-box;

    width: 960px;

    font-size: 24px;

    padding: 70px 70px 100px 70px;

}

 

#contact {

    display: inline-block;

    border: 1px solid white;
    padding:0;

    width: 400px;

    height: 150px;
    font-size: 20px;

}

 

#contact div:first-child {

    font-size: 20px;

    transform: scale(1.2, 1);

    padding-top: 10px;

    padding-bottom: 10px;

}

 

#contact div:nth-child(2) {

    font-size: 1em;

    transform: scale(0.9);

    color: rgb(90, 90, 90);

}

 

#contact div input:first-child {

    width: 300px;

    height: 40px;

    border: none;

}


 

#contact div input:nth-child(2) {

    width: 120px;

    height: 50px;

    background-color: #000000;

    color: #ffffff;

    border: none;

}

table{
    text-align: center;
    
    

}
.image{position:relative;}
#text{
    display: inline-block;
    margin:0;10px;
}
#text-1{
    display: inline-block;
}



 

footer {

   

  
    color:auto;

    font-size: 15px;

}

 

footer>div {

    width: 1200px;

    height: 10px;

    display: flex;

    justify-content: space-around;

    margin: 0 auto;

    padding-top: 90px;

}

 

footer div div {

    width: 150px;

    height: 200px;

}

 

footer div div:last-child {

    width: 270px;

    height: 200px;

}

 

footer div div p:first-child {

    color: #ffffff;

}
